In [106]:
import numpy as np
import pandas as pd

In [107]:
df=pd.read_csv('Preprocessed.csv')

In [108]:
df.head()

,id,firstName,email,Age,Gender,UserActivity_updatedAt,Stress Score,sex,email_domain,emailfirst,emaillast,email_address,Predicted_age,Update_date,Update_time,Update_hour,TimeOfDay,Datetime,Weekday
0,2,dev,dev@intentwave.com,45.0,M,4/11/2019 18:57,34,M,intentwave.com,intentwave,com,intentwave.com,30,4/11/2019,18:57,18,Eve,4/11/2019 18:57,Thursday
1,3,sourabh,sourabh.kothari@intentwave.com,45.0,M,4/11/2019 19:08,34,M,intentwave.com,intentwave,com,intentwave.com,32,4/11/2019,19:08,19,Eve,4/11/2019 19:08,Thursday
2,4,steve,stevearend@intentwave.com,52.0,M,4/11/2019 19:08,40,F,intentwave.com,intentwave,com,intentwave.com,50,4/11/2019,19:08,19,Eve,4/11/2019 19:08,Thursday
3,7,Eduardo,unifiedgloballlc@gmail.com,55.0,M,4/11/2019 19:30,34,M,gmail.com,gmail,com,gmail.com,27,4/11/2019,19:30,19,Eve,4/11/2019 19:30,Thursday
4,10,Elva,elvaarend@gmail.com,25.0,F,4/12/2019 4:27,39,F,gmail.com,gmail,com,gmail.com,28,4/12/2019,4:27,4,Night,4/12/2019 4:27,Friday

In [109]:
#renaming the stress score column
df.rename(columns = {'Stress Score':'Stress_Score'}, inplace = True) 
#grouping data on the basis of 'sex','Predicted_age','Weekday','TimeOfDay' to find average score for each group
grouped = df.groupby(['sex','Predicted_age','Weekday','TimeOfDay']).Stress_Score.agg(['mean'])

In [110]:
grouped

                                       mean
sex Predicted_age Weekday   TimeOfDay
F   18            Saturday  Night      65.0
                  Thursday  Eve        65.0
    19            Thursday  Eve        65.0
                            Night      10.0
                  Wednesday Night      52.0
...                                     ...
M   55            Friday    Morning    69.0
    58            Friday    Eve        85.0
                            Morning    69.0
                  Saturday  Morning    46.0
    60            Friday    Eve        40.0

[1213 rows x 1 columns]

In [111]:
grouped.head()

                                       mean
sex Predicted_age Weekday   TimeOfDay
F   18            Saturday  Night      65.0
                  Thursday  Eve        65.0
    19            Thursday  Eve        65.0
                            Night      10.0
                  Wednesday Night      52.0

In [113]:
grouped.to_csv('FE1.csv')