In [211]:
from gender_predictor import GenderPredictor
import numpy as np
import pandas as pd
import csv

In [212]:
df=pd.read_csv("modelx.csv")
df.head()

,id,firstName,email,Age,Gender,UserActivity_updatedAt,Stress Score
0,2.0,dev,dev@intentwave.com,45.0,M,4/11/2019 18:57,34.0
1,3.0,sourabh,sourabh.kothari@intentwave.com,45.0,M,4/11/2019 19:08,34.0
2,4.0,steve,stevearend@intentwave.com,52.0,M,4/11/2019 19:08,40.0
3,7.0,Eduardo,unifiedgloballlc@gmail.com,55.0,M,4/11/2019 19:30,34.0
4,10.0,Elva,elvaarend@gmail.com,25.0,F,4/12/2019 4:27,39.0

In [213]:
#remove columsn with no first names
df = df[df['firstName'].notna()]

In [214]:
df.tail()

,id,firstName,email,Age,Gender,UserActivity_updatedAt,Stress Score
8676,25201.0,Joan,joan_xia@yahoo.com,NaN,NaN,5/23/2019 20:44,65.0
8677,25202.0,Moe,nameng9189@gmail.com,NaN,NaN,5/23/2019 20:53,65.0
8678,25206.0,Danny,dannygillapps@gmail.com,NaN,NaN,5/23/2019 20:55,65.0
8679,25208.0,Ty,tyhuynhcreative@gmail.com,NaN,NaN,5/23/2019 20:55,65.0
8680,25210.0,Kaylee,blackmak@oregonstate.edu,NaN,NaN,5/23/2019 20:56,65.0

In [215]:
#AGE PREDICTION
#instantiate the package
gp = GenderPredictor()
gp.train_and_test()

import complete
32,031 male names
56,347 female names
classifier accuracy: 96.58%

In [216]:
ncol=df.shape[0]
ncol

8677

In [217]:
#apply the package to the dataframe
for i in range(ncol):
    df.loc[i,'sex']=gp.classify(df.iloc[i]['firstName'])

In [218]:
df.head()

,id,firstName,email,Age,Gender,UserActivity_updatedAt,Stress Score,sex
0,2.0,dev,dev@intentwave.com,45.0,M,4/11/2019 18:57,34.0,M
1,3.0,sourabh,sourabh.kothari@intentwave.com,45.0,M,4/11/2019 19:08,34.0,M
2,4.0,steve,stevearend@intentwave.com,52.0,M,4/11/2019 19:08,40.0,F
3,7.0,Eduardo,unifiedgloballlc@gmail.com,55.0,M,4/11/2019 19:30,34.0,M
4,10.0,Elva,elvaarend@gmail.com,25.0,F,4/12/2019 4:27,39.0,F

In [219]:
#Check accuracy of predicted values with the present values
result =0
for i in range(301):
    if (df.iloc[i]['Gender']==df.iloc[i]['sex']):
        result=result+1
      
    else:
        result=result+0
accuracy=result/301
print(accuracy)

0.7906976744186046

In [220]:
#AGE PREDICTION
#email preprocessing
new = df["email"].str.split("@", n = 1, expand = True)
df["email_domain"]=new[1]
name= df["email_domain"].str.split(".", n = 1, expand = True) 
df["emailfirst"]=name[0]
df["emaillast"]=name[1]
df.head()

,id,firstName,email,Age,Gender,UserActivity_updatedAt,Stress Score,sex,email_domain,emailfirst,emaillast
0,2.0,dev,dev@intentwave.com,45.0,M,4/11/2019 18:57,34.0,M,intentwave.com,intentwave,com
1,3.0,sourabh,sourabh.kothari@intentwave.com,45.0,M,4/11/2019 19:08,34.0,M,intentwave.com,intentwave,com
2,4.0,steve,stevearend@intentwave.com,52.0,M,4/11/2019 19:08,40.0,F,intentwave.com,intentwave,com
3,7.0,Eduardo,unifiedgloballlc@gmail.com,55.0,M,4/11/2019 19:30,34.0,M,gmail.com,gmail,com
4,10.0,Elva,elvaarend@gmail.com,25.0,F,4/12/2019 4:27,39.0,F,gmail.com,gmail,com

In [195]:
df['emailfirst'].fillna("null")

0        intentwave
1        intentwave
2        intentwave
3             gmail
4             gmail
           ...
8680    oregonstate
383            null
2516           null
2521           null
6478           null
Name: emailfirst, Length: 8681, dtype: object

In [196]:
df['emailfirst'].unique()

array(['intentwave', 'gmail', 'unifiedglobal', 'mindcurrent', 'mac',
       'yahoo', 'chintiminifarm', 'msn', 'bridgetownpr', 'hotmail',
       'outlook', 'ratcliffe', 'software-kids', 'bellsouth',
       'eduardomoreno', 'caulfield', 'shescribes', 'geekmanas', 'me',
       'adventurewagon', 'live', 'rogers', 'icloud', 'videotron', 'gmai',
       'att', 'sbcglobal', 'ymail', 'gmall', 'shaw', 'frontier', 'yandex',
       'telus', 'aol', 'hitmail', 'hotmaol', 'justshawarma', 'stny',
       'rocketmail', 'comcast', 'jeffreydeckman', 'cox', 'yshoo',
       'oakland', '3dcci', 'optonline', 'aim', 'comporium', 'gmaill',
       'verizon', 'cableone', 'mail', 'charter', 'mtu', 'abbott', 'va',
       'gradmor', 'my', 'ualberta', 'magna', 'xplornet', 'skish',
       'accesscomm', 'mylaurier', 'mainstream', 'centurytel', 'rvschools',
       'olympicheating', 'google', 'woh', 'wilmington', 'yhoo',
       'kimiko-dreams', 'gmx', 'mymts', 'mobilelinkusa', 'callutheran',
       'tiscali', 'email', 'juno', 'gmsil', 'trossdiesel', 'ail',
       'sasktel', 'wightman', 'mincurrent', 'cune', 'telusplanet',
       'inkandfeet', 'goodwillnne', 'tds', 'remnanttradingcompany',
       'eastlink', 'hickorytech', 'nandz', 'yaho', 'netzero', 'hawaii',
       'myaccess', 'nola', '3gmail', 'gmal', 't2products', 'npscschools',
       'bullardtalent', 'fmail', 'urhen', 'usa', 'heidiconsults', 'yayoo',
       'u', 'test', 'why', 'wgu', 'alumni', 'kw', 'ivlou', 'lindsey',
       'earthlink', 'fau', 'mannaonmain', 'nineworks', 'smbcap', '163',
       'protonmail', 'alice', 'mynorquest', 'marketingmoves', 'o2',
       'xtra', 'versacold', 'prgrn', 'libero', 'bluewin', 'internode',
       'aminis', 'ooutlook', 'hmail', 'totalgood', 'ergosum', 'gmailes',
       'ecolecatholique', 'naver', 'theatrixx', 'ns', 'mediasolvegroup',
       'mindlighting', 'virgilio', 'web', 'blanksby', 'gmaim', 'cloud',
       'roadrunner', 'myport', 'gmailq', 'dlsl', 'leapfroginnovations',
       'sympatico', 'blackssupply', 'give1111', 'maile', 'abv', 'gmial',
       'vpointv', 'gamil', 'sbcgloval', 'aamcodirect', 'test123', 'nate',
       'bell', 'atobi', 'cogeco', 'state', 'goldenwest', 'gmqil', 'vp',
       'truespeed', 'gmil', 'bayareafirststep', 'sncglobal', 'g', 'tt',
       'kfi-eng', 'daum', 'townisp', 'dallastexas', 'isg-nw', 'uib',
       'trentu', 'oh', 'cc', 'cimcast', 'smumn', 'ncsuvt', 'cvalley',
       'devetter', 'hormail', 'googlemail', 'uwaterloo', 'krissi',
       'yahio', 'bigpond', 'bucs', 'zonnet', 'uicollegeprep', 'snet',
       'interia', 'sky', 'utdallas', 'wnco', 'hotrail', 'appthority-labs',
       'talktalk', 'btinternet', 'nike', 'sschto', 'pcc', 'altermodus',
       'gsizvsk', 'belgiumgroup', 'rediff', 'dhandhia', 'hotmai', 'gnaul',
       'prs26', 'allenisd', '085348572281gmail', 'mariontflores', 'alz',
       'lshigh', 'rediffmail', '21gmail', 'gmeil', 'timesgroup',
       'baronandblue', 'optusnet', 'churchofjesuschrist', 'gamli',
       'thcds', 'adidas-group', 'zohomail', 'ahaw', 'chickchat', 'ball',
       'inlandlakes', 'newportnet', 'allternet', 'irvingisd', 'mrtc',
       'gmaul', 'virginmedia', 'sjacstudent', 'gvkw', 'westcentraltexas',
       'iinet', 'pdx', 'openforge', 'unlv', 'wustl', 'iu', 'homedepinst',
       'asu', 'umich', 'qq', 'lkpfamily', 'tamu', 'pink', 'uoregon',
       'mit', 'mindleap', 'zoitechnologies', 'yeah', 'uw', 'nevski',
       'oregonstate', nan], dtype=object)

In [ ]:
#spellchecked (gamil to gmail) and grouped various domains(ymail to yahoo) like below   
for i in range(df.shape[0]):
   
    data=df.iloc[i]['emailfirst']
    if (data=="ymail"):
         print (i,df.loc[i,'emailfirst'])
         df.loc[i,'emailfirst']="yahoo"

        
#spellchecked addresses        
df["email_address"]=df['emailfirst']+'.'+df['emaillast']
#list of all email domians found
x=df.groupby('email_address')['id'].nunique()
x.to_csv(emaildomains.csv')

In [224]:
#df.to_csv('modelxx.csv', index=False)

In [229]:
#age prediction
df=pd.read_csv('modelxx.csv')

In [230]:
df.shape

(8677, 13)

In [231]:
df.isnull().sum()

Unnamed: 0                   0
id                           0
firstName                    0
email                        0
Age                       8375
Gender                    8375
UserActivity_updatedAt       0
Stress Score                 0
sex                          0
email_domain                 0
emailfirst                   0
emaillast                    0
email_address                0
dtype: int64

In [232]:
with open('18-25.csv', newline='') as f:
    reader = csv.reader(f)
    data = list(reader)
flat_list1 = []
for sublist1 in data:
    for item in sublist1:
        flat_list1.append(item)
with open('26-35.csv', newline='') as f:
    reader = csv.reader(f)
    data = list(reader)
flat_list2 = []
for sublist2 in data:
    for item in sublist2:
        flat_list2.append(item)
with open('36-50.csv', newline='') as f:
    reader = csv.reader(f)
    data = list(reader)
flat_list3 = []
for sublist3 in data:
    for item in sublist3:
        flat_list3.append(item)
with open('51-65.csv', newline='') as f:
    reader = csv.reader(f)
    data = list(reader)
flat_list4 = []
for sublist4 in data:
    for item in sublist4:
        flat_list4.append(item)
with open('66-80.csv', newline='') as f:
    reader = csv.reader(f)
    data = list(reader)
flat_list5 = []
for sublist5 in data:
    for item in sublist5:
        flat_list5.append(item)

In [233]:
import random 
for i in range(df.shape[0]):
     x=df.iloc[i]['email_address']
     if x in flat_list1:
        df.loc[i,'Predicted_age']=random.randint(18, 25)
     elif x in flat_list2:
          df.loc[i,'Predicted_age']=random.randint(26, 35)
     elif x in flat_list3:
          df.loc[i,'Predicted_age']=random.randint(36, 50)
     elif x in flat_list4:
          df.loc[i,'Predicted_age']=random.randint(51, 65)
     elif x in flat_list5:
          df.loc[i,'Predicted_age']=random.randint(66, 80)   
     else:
        df.loc[i,'Predicted_age']=random.randint(25,50)

In [234]:
df.head()

,Unnamed: 0,id,firstName,email,Age,Gender,UserActivity_updatedAt,Stress Score,sex,email_domain,emailfirst,emaillast,email_address,Predicted_age
0,0,2.0,dev,dev@intentwave.com,45.0,M,4/11/2019 18:57,34.0,M,intentwave.com,intentwave,com,intentwave.com,30.0
1,1,3.0,sourabh,sourabh.kothari@intentwave.com,45.0,M,4/11/2019 19:08,34.0,M,intentwave.com,intentwave,com,intentwave.com,32.0
2,2,4.0,steve,stevearend@intentwave.com,52.0,M,4/11/2019 19:08,40.0,F,intentwave.com,intentwave,com,intentwave.com,50.0
3,3,7.0,Eduardo,unifiedgloballlc@gmail.com,55.0,M,4/11/2019 19:30,34.0,M,gmail.com,gmail,com,gmail.com,27.0
4,4,10.0,Elva,elvaarend@gmail.com,25.0,F,4/12/2019 4:27,39.0,F,gmail.com,gmail,com,gmail.com,28.0

In [235]:
#Preocess updatedAt

new = df["UserActivity_updatedAt"].str.split(" ", n = 1, expand = True) 
  
# making separate first name column from new data frame 
df["Update_date"]= new[0] 
  
# making separate last name column from new data frame 
df["Update_time"]= new[1]

In [236]:
df.head()

,Unnamed: 0,id,firstName,email,Age,Gender,UserActivity_updatedAt,Stress Score,sex,email_domain,emailfirst,emaillast,email_address,Predicted_age,Update_date,Update_time
0,0,2.0,dev,dev@intentwave.com,45.0,M,4/11/2019 18:57,34.0,M,intentwave.com,intentwave,com,intentwave.com,30.0,4/11/2019,18:57
1,1,3.0,sourabh,sourabh.kothari@intentwave.com,45.0,M,4/11/2019 19:08,34.0,M,intentwave.com,intentwave,com,intentwave.com,32.0,4/11/2019,19:08
2,2,4.0,steve,stevearend@intentwave.com,52.0,M,4/11/2019 19:08,40.0,F,intentwave.com,intentwave,com,intentwave.com,50.0,4/11/2019,19:08
3,3,7.0,Eduardo,unifiedgloballlc@gmail.com,55.0,M,4/11/2019 19:30,34.0,M,gmail.com,gmail,com,gmail.com,27.0,4/11/2019,19:30
4,4,10.0,Elva,elvaarend@gmail.com,25.0,F,4/12/2019 4:27,39.0,F,gmail.com,gmail,com,gmail.com,28.0,4/12/2019,4:27

In [237]:
time = df["Update_time"].str.split(":", n = 1, expand = True) 
df["Update_hour"]= time[0] 
df['Update_hour'] = df['Update_hour'].astype(int)

In [238]:
for i in range (df.shape[0]):
    x=df.iloc[i]['Update_hour']
    if (x > 4) and (x <= 12 ):
        df.loc[i,'TimeOfDay'] ='Morning'
    elif (x > 12) and (x <= 16):
        df.loc[i,'TimeOfDay']='Noon'
    elif (x > 16) and (x <= 20) :
        df.loc[i,'TimeOfDay'] ='Eve'
    else:
        df.loc[i,'TimeOfDay']='Night'

In [239]:
df.head()

,Unnamed: 0,id,firstName,email,Age,Gender,UserActivity_updatedAt,Stress Score,sex,email_domain,emailfirst,emaillast,email_address,Predicted_age,Update_date,Update_time,Update_hour,TimeOfDay
0,0,2.0,dev,dev@intentwave.com,45.0,M,4/11/2019 18:57,34.0,M,intentwave.com,intentwave,com,intentwave.com,30.0,4/11/2019,18:57,18,Eve
1,1,3.0,sourabh,sourabh.kothari@intentwave.com,45.0,M,4/11/2019 19:08,34.0,M,intentwave.com,intentwave,com,intentwave.com,32.0,4/11/2019,19:08,19,Eve
2,2,4.0,steve,stevearend@intentwave.com,52.0,M,4/11/2019 19:08,40.0,F,intentwave.com,intentwave,com,intentwave.com,50.0,4/11/2019,19:08,19,Eve
3,3,7.0,Eduardo,unifiedgloballlc@gmail.com,55.0,M,4/11/2019 19:30,34.0,M,gmail.com,gmail,com,gmail.com,27.0,4/11/2019,19:30,19,Eve
4,4,10.0,Elva,elvaarend@gmail.com,25.0,F,4/12/2019 4:27,39.0,F,gmail.com,gmail,com,gmail.com,28.0,4/12/2019,4:27,4,Night

In [240]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8677 entries, 0 to 8676
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              8677 non-null   int64
 1   id                      8677 non-null   float64
 2   firstName               8677 non-null   object
 3   email                   8677 non-null   object
 4   Age                     302 non-null    float64
 5   Gender                  302 non-null    object
 6   UserActivity_updatedAt  8677 non-null   object
 7   Stress Score            8677 non-null   float64
 8   sex                     8677 non-null   object
 9   email_domain            8677 non-null   object
 10  emailfirst              8677 non-null   object
 11  emaillast               8677 non-null   object
 12  email_address           8677 non-null   object
 13  Predicted_age           8677 non-null   float64
 14  Update_date             8677 non-null   object
 15  Update_time             8677 non-null   object
 16  Update_hour             8677 non-null   int32
 17  TimeOfDay               8677 non-null   object
dtypes: float64(4), int32(1), int64(1), object(12)
memory usage: 1.2+ MB

In [241]:
from datetime import datetime, timedelta
import calendar
df['Datetime'] = pd.to_datetime(df['UserActivity_updatedAt'])

for i in range (df.shape[0]):
    x=df.iloc[i]['Datetime']
    df.loc[i,'Weekday'] =calendar.day_name[x.weekday()]

In [242]:
df.head()

,Unnamed: 0,id,firstName,email,Age,Gender,UserActivity_updatedAt,Stress Score,sex,email_domain,emailfirst,emaillast,email_address,Predicted_age,Update_date,Update_time,Update_hour,TimeOfDay,Datetime,Weekday
0,0,2.0,dev,dev@intentwave.com,45.0,M,4/11/2019 18:57,34.0,M,intentwave.com,intentwave,com,intentwave.com,30.0,4/11/2019,18:57,18,Eve,2019-04-11 18:57:00,Thursday
1,1,3.0,sourabh,sourabh.kothari@intentwave.com,45.0,M,4/11/2019 19:08,34.0,M,intentwave.com,intentwave,com,intentwave.com,32.0,4/11/2019,19:08,19,Eve,2019-04-11 19:08:00,Thursday
2,2,4.0,steve,stevearend@intentwave.com,52.0,M,4/11/2019 19:08,40.0,F,intentwave.com,intentwave,com,intentwave.com,50.0,4/11/2019,19:08,19,Eve,2019-04-11 19:08:00,Thursday
3,3,7.0,Eduardo,unifiedgloballlc@gmail.com,55.0,M,4/11/2019 19:30,34.0,M,gmail.com,gmail,com,gmail.com,27.0,4/11/2019,19:30,19,Eve,2019-04-11 19:30:00,Thursday
4,4,10.0,Elva,elvaarend@gmail.com,25.0,F,4/12/2019 4:27,39.0,F,gmail.com,gmail,com,gmail.com,28.0,4/12/2019,4:27,4,Night,2019-04-12 04:27:00,Friday

In [244]:
df.to_csv('Preprocessed.csv', index=False)